
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
.active{
    color: rgb(45, 122, 75);
    border: none;
}

ul{
    list-style-type: none;
}

a:hover{
  color:  rgb(132, 161, 82);
  
}

* { box-sizing: border-box; }

body {
  font-family: 'Montserrat',sans-serif;
  font: 16px;
}

img{
  width: 100%;
  display: block;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete #mySearchInput {
  border: 1px solid transparent;
  background-color: #faf3f3;
  padding: 10px;
  font-size: 16px;
}

#mySearchInput[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

#mySearchInput[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}