* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}


.header {
    background: url(../img/header.png);
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    padding: 50px;

    h4 {
        font-size: 2rem;
    }

    a {
        color: burlywood;
        text-decoration: none;

        &:hover {
            color: whitesmoke;
            text-decoration: none;
        }
    }

}

.card {
    margin: 20px 0;
    border: none;

    img {
        width: 100% !important;
        height: 100%;
        display: block !important;
    }
}

.card-header {
    padding: 0 !important;
}

.card-body {
    background-color: antiquewhite;
}

#editor {
    background-color: rgb(78, 105, 105);
    color: whitesmoke;
}

img {
    width: 100%;
    display: block !important;
}

.bg-primary {
    background-color: transparent !important;
    font-size: 1.1rem;

    &:hover {
        background-color: blue;
        color: white;
    }
}

ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;

    li {
        a {
            color: white;
            text-decoration: none;

            &:hover {
                color: whitesmoke;
                text-decoration: none;
            }
        }

    }
}

/***role navigation***/
.rolenav {
    width: 500px;
    background: tomato;
}